# Virtual environment
.venv/
venv/
ENV/

# Python cache
__pycache__/
*.py[cod]

# Generated test artifacts (optional: keep or ignore)
*.png
*.svg

# Environment & OS files
.env
.DS_Store

# Windows artifacts
Thumbs.db
ehthumbs.db

# If you downloaded Cloudflared installer inside the project folder
*.deb

models.json